 <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Round Table</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile" profile-info>
              <div class="profile_pic">
                <img id="user_img" src="images/{{ image_src }}" alt="..." class="img-circle profile_img" >
               
              </div>
              <div class="profile_info">
               
                <h2 id="user_name">Admin</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" ng-include="'views/common/sidebar.html'"></div>
             
            <!-- /sidebar menu -->

            
          </div>
        </div>
         <!-- top navigation -->
        <div class="top_nav" ng-include="'views/common/topbar.html'"></div>
        <!-- /top navigation -->
        
        <!-- Page Content--->
        <div class="right_col" role="main">
            <div class="">
                  <div ui-view></div>
            </div>
        </div>
        <!-- /Page Content--->
        
        
  <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>